
@{
    ViewBag.Title = "Report";
}

<h2>Index</h2>

<div class="table-responsive">
    <table border="1" cellpadding="5" class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Total Expense</td>
                <td>Share Amount</td>
                <td>Expense</td>
                <td>balance</td>
            </tr>
            </thead>
        <tbody>
            <tr>
                <td>Muthu</td>
                <td>@Html.ActionLink("600","Index", "Pay")</td>
                <td>300</td>
                <td>320</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Harish</td>
                <td>600</td>
                <td>300</td>
                <td>280</td>
                <td>-20</td>
            </tr>
        </tbody>

